html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 20px; /* avoid navbar overlap */
}

.visit-btn {
  display: inline-block;
  margin-top: 16px;
  padding: 10px 18px;
  background: #1c1c1c;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  transition: all 0.25s ease;
}

.visit-btn:hover {
  background: #2c2c2c;
}


.speak-inline {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 4px;
  color: #1c7738;
  transition: transform 0.2s ease, color 0.2s ease;
}

.speak-inline:hover {
  transform: scale(1.2);
  color: #22c55e; /* brighter green */
}


.quote-section {
  background:radial-gradient(120deg, #003e6d, #1c1c1c);
  color: #e2e8f0;
  text-align: center;
  padding: 20px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-left: 5px solid #000000;
  border-right: 5px solid #000000;
  margin: 40px 0;
}

.quote-section blockquote {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.6;
  margin: 0 auto 20px auto;
  max-width: 800px;
}

.thm-section {
  margin-top: 90px;
  background:radial-gradient(120deg, #003e6d, #1c1c1c);
  color: #e2e8f0;
  text-align: center;
  padding: 2px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-left: 5px solid #000000;
  border-right: 5px solid #000000;
  margin: 40px 0;
}

.thm-section tryhackmeheading {
  margin-top: 90px;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1;
  margin: 0 auto 10px auto;
  max-width: 800px;
}

.quote-section .quote-author {
  font-size: 1rem;
  color: #a0a0a0;
}


#backToTop {
  display: none; /* hidden by default */
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background-color: transparent;
  color: #e2e8f0;
  border: none;
  padding: 0px 14px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  
}

.badge-box {
  background-image: url('images/binary2.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  max-width: 480px;
  margin: 20px auto;
  box-shadow: 0 8px 20px rgba(0, 255, 200, 0.15);
}

.footer {
  background-color: #1c1c1c;
  color: #e2e8f0;
  padding: 40px 20px;
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  margin: auto;
}

.footer h2 {
  color: #e2e1e1;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 10px 0;
}

.footer p {
  margin: 0 0 10px 0;
  color: #979797;
  font-size: 14px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #000000;
}

.top-bar {
  display: flex;
  align-items: center;
  background-color: #0f172a;
  color: #0f172a;
  padding: 10px 20px;
  font-size: 1.5rem;
}

.top-bar img {
  height: 40px;
  margin-right: 10px;
}

.banner {
  padding-top: 90px;
  background-image: url('images/online-security-dark-background-3d-illustration.jpg');
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.0rem;
  font-weight: bold;
}

.banner1 {
  margin-top: 50px;
  background-image: url('images/online-security-dark-background-3d-illustration.jpg');
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.0rem;
  font-weight: bold;
}

.banner1-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
}

.banner1-text h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.banner1-text p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.academics {
  background-color: #000000;
  padding: 30px 20px;
}

.academicss {
  background-color: #000000;
  padding: 5px 20px;
}

.academics h2 {
  font-size: 1.8rem;
  color: #e4e4e4;
  margin-bottom: 20px;
}

.academics ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.1rem;
  color: #333;
}

.academics li {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #131313;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #8f8f8f;
}

th {
  background-color: #222;
  color: #fff;
}

td {
  color: #d6d6d6;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
}

.top-bar .left {
  font-size: medium;
  display: flex;
  align-items: center;
  text-align:start;
}

.top-bar img {
  height: 40px;
  margin-right: 10px;
  border-radius: 100%;
}

.right-nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
  font-size: medium;
}

.right-nav a:hover {
  color: #1c7738;
  text-shadow: 0 0 6px #000000;
}

.hackathon-section {
  background-color: #000000;
  padding: 40px 20px;
}

.hackathon-content {
  display: flex;
  flex-direction: row;
  align-items:normal;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #000000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  margin-bottom: 30px;
}

.hackathon-text {
  flex: 1;
  font-size:larger ;
  padding-right: 20px;
  color: #cccccc;
}

.hackathon-text h2 {
    font-size: 2.8rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.hackathon-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #e5e5e5;
}

.hackathon-image {
  flex: 1;
  padding-top: 40px;
  text-align: center;
}

.hackathon-image img {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  border: 1px solid #000000;
}
.hackathon-image img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .hackathon-content {
    flex-direction: column;
  }

  .hackathon-text,
  .hackathon-image {
    padding: 10px 0;
  }
} 